# Arquivos de ambiente
.env
.env.local
.env.production

# Dependências
node_modules/

# Builds do Next.js
.next/
out/

# Logs
*.log

# Cache
.cache/

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
